.list {
  list-style-type: lower-roman;
  list-style-type: none;
  list-style-position: inside;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.list li::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("../assets/favicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.list2 li {
  list-style-type: lower-roman;

  list-style-position: outside;
  background-color: red;
}

.list3 {
  background-color: cornsilk;
  list-style: lower-roman inside;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.text-column-4 {
  column-count: 4;
  column-gap: 2rem;
  column-rule: medium dotted red;
  column-width: 100px;
}
